*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 15px;
    box-sizing: border-box;
    scroll-behavior: unset !important;
}

body {
    font-family: "Nunito", sans-serif;
    color: $color-text-primary;
    background-color: $color-background-default;
    font-weight: $font-weight-default;
    line-height: $lh-default;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @include media-breakpoint-down(md) {
        background-color: $color-background-secondary;
    }
}

// TAG
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
}
input:focus {
    border-color: $color-border-input;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    overflow-wrap: break-word;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}
//CLASS
// RESET BOOTSTRAP
.form-control:focus,
.btn:focus,
.btn:active:focus {
    box-shadow: none;
}

// SECTION
.section--width {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.section--mb {
    margin-bottom: 35px;
}
.section--semi-mb {
    margin-bottom: 15px;
}
.section--super-mb {
    margin-bottom: 45px;
}

// HEADER
.header-category--mt-md{
    @include media-breakpoint-down(md) {
        margin-top: 126px;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 112px;
    }
}

// CONTAINER
.container--modify-sidebar {
    @include media-breakpoint-down(lg) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
.container--px-md {
    padding-left: 0;
    padding-right: 0;
    @include media-breakpoint-up(md) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    @include media-breakpoint-up(lg) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.container--px {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    @include media-breakpoint-up(md) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    @include media-breakpoint-up(lg) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.container--bgc-md {
    @include media-breakpoint-down(md) {
        width: auto;
        padding: 10px 0;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        background-color: $color-white;
    }
}
// FRAME
.content--radius {
    border-radius: $border-radius-default;
}
.content--radius-rsp {
    border-radius: $border-radius-default;
    @include media-breakpoint-down(md) {
        border-radius: 0;
    }
}
.content--shadow {
    box-shadow: $box-shadow-section;
}
// SPACING

// SLIDER EFFECT
.category-icon--blur-right {
    @include blur(36px, $color-background-default);
}

//POSITION
.heading--fixed-md-top {
    @include media-breakpoint-down(md) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        padding-bottom: 8px !important;
        background-color: $color-background-default;
        z-index: 1002;
    }
}
.navbar--fixed-lg-top {
    @include media-breakpoint-up(lg) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        background-color: $color-primary;
        z-index: 1030;
        .container--fixed-lg-width {
            .header__navbar__list {
                box-shadow: none;
                border-radius: 0;
                background-color: transparent;
                padding-left: 0;
                padding-right: 0;
                .header__navbar__link-icon {
                    display: none;
                }
                .header__navbar__link-label {
                    font-size: 12px;
                }
            }
            @include media-breakpoint-up(xl) {
                $value: map-get(
                    $map: $container-max-widths,
                    $key: "xl",
                );
                max-width: $value;
            }
            @include media-breakpoint-up(xxl) {
                $value: map-get(
                    $map: $container-max-widths,
                    $key: "xxl",
                );
                max-width: $value;
            }
        }
    }
}
.category--fixed-md-top {
    @include media-breakpoint-up(md) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        background-color: $color-primary;
        z-index: 1030;
        .container--fixed-md-width {
            max-width: 1200px;
            .header__category__list {
                box-shadow: none;
                border-radius: 0;
                background-color: transparent;
                .header__category__link-icon {
                    display: none;
                }
                .header__category__link-label {
                    font-size: 12px;
                }
            }
        }
    }
}
.search-form--fixed-md-top {
    @include media-breakpoint-down(md) {
        position: unset !important;
        .header__heading__search__form {
            position: fixed !important;
            top: 20px;
            right: 16px;
            left: 16px;
            @include media-breakpoint-down(sm) {
                right: 0.25rem;
                left: 0.25rem;
            }
            z-index: 1001;
            .header__heading__search__input {
                box-shadow: none;
            }
        }
        .header__heading__search__result {
            position: fixed;
            top: 72px;
            right: 78px;
            left: 34px;
            width: unset;
            @include media-breakpoint-down(sm) {
                left: calc(0.25rem + 18px);
                right: calc(0.25rem + 54px);
            }
        }
    }
}
.search-form--fixed-md-top + .header__category {
    @include media-breakpoint-down(md) {
        margin-top: 10px;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 4px;
    }
}
.category-section--fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: $box-shadow-emlement;
    background-color: $color-white;
    z-index: 100;
    .category-filter__list{
        margin-top: 10px;
    }
    .category-filter__list-title{
        display: block;
    }
    .category-filter__heading,.category-filter__quicklink-type,.category-filter__quicklink-manufacturer,.category-filter-sort-wrapper{
        display: none;
    }
}

// VIEW
.icon-date-filter-rotate180{
    &::before{
        transform: rotate(180deg);
    }
}
.show{
    display: block !important;
}
.dimmer--showed {
    visibility: visible !important;
    opacity: 0.5 !important;
}
.sidebar--shower {
    transform: translateX(0) !important;
    visibility: visible !important;
}
.special-product-card--hidden-md {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.footer--active-md {
    @include media-breakpoint-down(md) {
        background-color: $color-white;
        .footer__icon {
            &::before {
                transform: rotate(180deg);
            }
        }
    }
}

//FORM
.form--search {
    position: relative;
    flex: 1;
    margin: 0 25px;
    @include media-breakpoint-down(lg) {
        margin: 0;
    }
    &__wrapper {
        position: relative;
        z-index: 1001;
        transition: top ease-in-out 0.3s;
    }
    input {
        width: 100%;
        font-size: 18px;
        color: $color-primary;
        border: $border-product-card;
        border-radius: $border-radius-3;
        font-weight: $font-weight-semi-bold;
        padding: 10px;
        box-shadow: $box-shadow-emlement;
        line-height: 1.4;
        &:focus {
            border-color: $color-border-input;
            color: $color-primary;
        }
        &::placeholder {
            font-weight: $font-weight-semi-bold;
        }
        @include media-breakpoint-down(sm) {
            padding: 8px 10px;
            border-radius: $border-radius-3;
        }
    }
    button.btn {
        @include textStyle($color-primary, 18px, normal);
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 22px;
        border: none;
        border-top-right-radius: $border-radius-3;
        border-bottom-right-radius: $border-radius-3;
        transition: transform ease-in-out 0.3s;
        cursor: default;
        @include media-breakpoint-down(sm) {
            padding: 8px 18px;
            border-top-right-radius: $border-radius-3;
            border-bottom-right-radius: $border-radius-3;
        }
    }
}

//OVERFLOW
.none-scroll {
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    overflow: hidden;
}
