%background-contain {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

%background-cover {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

%button-primary-hover {
    background-color: transparent;
    color: $color-primary;
    border-color: $color-primary;
}

